<div class="main">
  <header class="header">
    <ul class="menu" #menu>
      <li class="menu__item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact :true}">
        <a class="menu__link" routerLink="/offshore">Offshore Software Services</a>
      </li>
      <li class="menu__item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact :true}">
        <a class="menu__link" routerLink="/product">Product</a>
      </li>
      <li class="menu__item" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact :true}">
        <a class="menu__link" routerLink="/projects">Projects</a>
      </li>
  
    </ul>
  </header>

  
  <router-outlet></router-outlet>
    
     
  

</div>

